<template>
  <div class="controller">
    <div class="view">
      <div class="view-btn">
        <button class="view-btn-2d" @click="set2D">2D</button>
        <button class="view-btn-3d" @click="set3D">3D</button>
        <button class="view-btn-first-person" @click="setFirstPerson">1인칭</button>
      </div>
    </div>
    <div class="menu">
      <div class="menu-ruler" @click="setRuler">
        <p :style="this.rulerToggle ? this.toggleCSS = {backgroundColor: 'white', color: 'forestgreen', borderTop: '1px solid black'} : {}">줄자</p>
      </div>
      <div class="menu-area" @click="setArea">
        <p :style="this.rulerToggle ? this.toggleCSS = {backgroundColor: 'white', color: 'forestgreen', borderTop: '1px solid black'} : {}">면적</p>
      </div>
      <div class="menu-background" @click="setBackground">
        <p :style="this.rulerToggle ? this.toggleCSS = {backgroundColor: 'white', color: 'forestgreen', borderTop: '1px solid black'} : {}">배경</p>
      </div>
      <div class="menu-transparent">
        <p>벽투명</p>
        <div class="menu-transparent-btn">
          <button class="menu-transparent-btn-zero" @click="setWallOpacityZero">투명도 0</button>
          <button class="menu-transparent-btn-half" @click="setWallOpacityHalf">투명도 0.5</button>
          <button class="menu-transparent-btn-one" @click="setWallOpacityOne">투명도 1</button>
        </div>
      </div>
    </div>
    <div class="setting">
      <div class="setting-product">
        <p>상품 배치</p>
        <ul class="list">
          <li class="item" v-for="item in this.$store.state.productList" :key="item.id"
              @click="onLoadProduct(item.asset_uuid)">
            <img :src="imgPathUrl + item.thumbnail_path" alt="Product Thumbnail">
          </li>
        </ul>
      </div>
      <div class="setting-wallpaper">
        <p>벽지 배치</p>
        <ul class="list">
          <li class="item" v-for="item in this.$store.state.wallList" :key="item.id"
              @click="onLoadWall(item.id)" @keyup:esc="stopChangeStyle">
            <img :src="imgPathUrl + item.thumbnail_path" alt="Wall Thumbnail">
          </li>
        </ul>
      </div>
      <div class="setting-flooring">
        <p>바닥재 배치</p>
        <ul class="list">
          <li class="item" v-for="item in this.$store.state.flooringList" :key="item.id"
              @click="onLoadFlooring(item.id)" @keyup:esc="stopChangeStyle">
            <img :src="imgPathUrl + item.thumbnail_path" alt='Flooring Thumbnail'>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex';
import {BACKGROUND_IMG_HOSTING_URL, IMG_PATH_URL} from '../config';
import Constant from '../Constant';

export default {
  name : 'Controller',
  props: {
    player   : Object,
    structure: Object,
  },
  data() {
    return {
      imgPathUrl : IMG_PATH_URL,
      rulerToggle: false,
      areaToggle : false,
      toggleCSS  : {}
    };
  },
  computed: mapState([
    'productList',
    'wallList',
    'flooringList',
    'masterCode'
  ]),
  mounted() {
    this.fetchProduct();
    this.getMasterCode();
    this.fetchWall();
    this.fetchFlooring();
  },
  methods: {
    onLoadProduct(id) {
      this.loadProduct(id);
    },
    onLoadWall(id) {
      this.loadWall(id);
    },
    onLoadFlooring(id) {
      this.loadFlooring(id);
    },
    set2D() {
      this.player.set2D();
    },
    set3D() {
      this.player.set3D();
    },
    setFirstPerson() {
      this.player.setFirstPerson();
    },
    // 3인칭으로 시점을 변경할 수 있는 메서드 X
    setRuler() {
      if (this.rulerToggle) {
        this.structure.endMeasuringDistance();
        this.rulerToggle = !this.rulerToggle;
        return;
      }
      this.structure.startMeasuringDistance();
      this.rulerToggle = !this.rulerToggle;
    },
    setArea() {
      if (this.areaToggle) {
        this.structure.endMeasuringArea();
        this.areaToggle = !this.areaToggle;
        return;
      }
      this.structure.startMeasuringArea();
      this.areaToggle = !this.areaToggle;
    },
    setBackground() {
      const imgPath = `${BACKGROUND_IMG_HOSTING_URL}dist/sample_background.jpg`;
      this.player.setBackgroundImage(imgPath);
    },
    // BackgroundImage Setting을 취소할 수 있는 메서드 X
    setWallOpacityZero() {
      this.structure.setWallOpacity(0);
    },
    setWallOpacityHalf() {
      this.structure.setWallOpacity(0.5);
    },
    setWallOpacityOne() {
      this.structure.setWallOpacity(1);
    },
    fetchProduct() {
      this.$store.dispatch(Constant.FETCH_PRODUCTS);
    },
    fetchWall() {
      this.$store.dispatch(Constant.FETCH_WALL);
    },
    fetchFlooring() {
      this.$store.dispatch(Constant.FETCH_FLOORING);
    },
    getMasterCode() {
      this.$store.dispatch(Constant.GET_MASTER_CODE);
    },
    loadProduct(id) {
      const product = new Crane.Product({
        assetUuid: id
      });
      this.player.load(product);
    },
    loadWall(id) {
      this.structure.changeStyleOfWall(id);
    },
    loadFlooring(id) {
      this.structure.changeStyleOfFloor(id);
    },
    stopChangeStyle() {
      this.structure.stopToChangeStyle();
    },
  },
};
</script>

<style lang="scss">
ul {
  list-style-type: none;
  padding: 0;
}

p {
  text-align: center;
  color: white;
  font-weight: 500;
  margin: 0;
}

button {
  color: white;
  outline: none;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  cursor: pointer;
}

.controller {
  border: 1px solid black;
  flex: 1;
}

.view {
  padding: 10px;

  &-btn {
    display: flex;
    justify-content: center;
    gap: 15px;

    &-2d, &-3d, &-first-person {
      padding: 10px;
      background-color: orangered;
    }
  }
}

.menu {
  div {
    border-bottom: 1px solid black;
  }

  &-ruler, &-area, &-background {
    cursor: pointer;
  }

  p {
    background-color: forestgreen;
    padding: 5px;
  }

  &-transparent {
    &-btn {
      display: flex;
      justify-content: center;
      gap: 5px;
      padding: 10px;

      &-zero, &-half, &-one {
        padding: 6px;
        background-color: skyblue;
        font-size: 14px;
      }
    }
  }
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  width: 60px;
  height: 60px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}

.setting {
  p {
    background-color: orange;
    padding: 5px;
    font-size: 18px;
  }

  &-product {
    position: relative;
  }
}
</style>
