<template>
  <div id="viewer" class="drawing"></div>
</template>

<script>

export default {
  name   : 'drawing',
  methods: {
  }
};
</script>

<style>
.drawing {
  flex: 4;
  border: 1px solid black;
}

#viewer{
  width: 100%;
}
</style>
