<template>
  <div id='app'>
    <controller :player="player" :structure="structure"></controller>
    <drawing></drawing>
  </div>
</template>

<script>
import Controller from './components/Controller';
import Drawing from './components/Drawing';
import {API_KEY} from './config';

export default {
  name      : 'app',
  components: {Controller, Drawing},
  data() {
    return {
      player   : {},
      structure: {},
    };
  },
  created() {
    this.initCrane();
  },
  mounted() {
    this.loadStructure();
  },
  methods: {
    initCrane() {
      if (!Crane) return;
      Crane.init({
        apiKEY: API_KEY,
      });
    },
    loadStructure() {
      this.player = new Crane.Player('viewer', 'HomeDesign');
      this.structure = new Crane.Structure({uuid: 'a323926e-7cea-4a64-9293-4d7dbef2adde'});

      this.player.on('completedToSDKSetting', () => {
        this.player.load(this.structure);
      });
    },
  }
};
</script>

<style lang='scss'>
#app {
  display: flex;
}
</style>
